---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - certificate.yaml
  - configmap.yaml
  - onepassword-configuration.yaml
  - onepassword-etcd.yaml
  - onepassword-oidc.yaml
